<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>UsersMgr Info</display-name>
	<servlet>
		<servlet-name>usersmgr-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>ru.korus.tmis.ws.users</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>usersmgr-serlvet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<!--
    <security-constraint>
        <display-name>SecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>WRCollection</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>FinanceUser</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-role>
        <role-name>FinanceUser</role-name>
    </security-role>  -->
</web-app>