<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <!--<jmxConfigurator/>-->
    <contextName>tmis-core</contextName>

    <!-- dump status message on the console as they arrive -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <!-- Аппендер для отправки уведомлений об exceptions по e-mail -->
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTrackerImpl">
            <bufferSize>${alarm.count.message}</bufferSize>
        </cyclicBufferTracker>

        <evaluator class="ru.korus.tmis.util.logs.CounterBasedEvaluator">
            <countMessage>${alarm.count.message}</countMessage>
        </evaluator>

        <!-- For example you can configure that only error messages are mailed -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%relative%thread%mdc%level%logger%msg</pattern>
        </layout>

        <!-- For GMAIL -->
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <username>******</username>
        <password>*****</password>
        <!-- - -->

        <SmtpHost>${alarm.smtpHost}</SmtpHost>
        <To>${alarm.to}</To>
        <From>${alarm.from}</From>
        <subject>TMIS CORE ALARM %logger{20} - %m</subject>
    </appender>


    <!-- Основные настройки для консоли, для эксепшен лога-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.out"/>
        <!--<target>System.out</target>-->
    </appender>

    <appender name="STDOUT_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.err"/>
        <!--<target>System.err</target>-->
    </appender>

    <appender name="EXCEPTIONS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.path}/exceptions/exceptions.log</file>

        <filter class="ru.korus.tmis.util.logs.filter.ExceptionFilter">
            <exceptionClassName>java.lang.Exception</exceptionClassName>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logs.path}/exceptions/exceptions.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>365</MaxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
    </appender>

    <root level="${logs.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
        <appender-ref ref="EMAIL"/>
    </root>

    <!--Общий логгер для всего проекта-->
    <appender name="TMIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.path}tmis-core/core.log</file>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logs.path}tmis-core/core.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="ru.korus.tmis" level="INFO" additivity="false">
        <appender-ref ref="TMIS"/>
        <appender-ref ref="EMAIL"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </logger>

    <!--Справочники -->
    <appender name="REFERENCE_BOOK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.path}reference-book/rb.log</file>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logs.path}reference-book/rb.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="ru.korus.tmis.hs" level="DEBUG" additivity="false">
        <appender-ref ref="REFERENCE_BOOK"/>
        <appender-ref ref="EMAIL"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </logger>

    <!-- Аппендер для 1С Аптека -->
    <appender name="PHARMACY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.path}pharmacy/pharmacy.log</file>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logs.path}pharmacy/pharmacy.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="ru.korus.tmis.pharmacy" level="INFO" additivity="false">
        <appender-ref ref="PHARMACY"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </logger>

    <!--Логер для модуля WS-FINANCE-->
    <appender name="WS-FINANCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.path}ws-finance/finance.log</file>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logs.path}ws-finance/finance.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="ru.korus.tmis.ws.finance" level="INFO" additivity="false">
        <appender-ref ref="WS-FINANCE"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </logger>

    <!--Логер для модуля WS-TRANCFUSION-->
    <appender name="WS-TRANCFUSION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.path}ws-transfusion/transfusion.log</file>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logs.path}ws-transfusion/transfusion.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="ru.korus.tmis.ws.transfusion" level="INFO" additivity="false">
        <appender-ref ref="WS-TRANCFUSION"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </logger>


    <!--Логер для конмоненты связи-->
    <appender name="COMMUNICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.path}communication/communication.log</file>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logs.path}communication/communication.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="ru.korus.tmis.communication" level="INFO" additivity="false">
        <appender-ref ref="COMMUNICATION"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </logger>

    <appender name="AUTH" class="ch.qos.logback.core.FileAppender">
        <file>${logs.path}auth/auth.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>

    <logger name="ru.korus.tmis.core.logging.slf4j.interceptor.AuthLoggingInterceptor" level="INFO" additivity="false">
        <appender-ref ref="AUTH"/>
    </logger>

    <appender name="SERVICES" class="ch.qos.logback.core.FileAppender">
        <file>${logs.path}services/services.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>
    <!-- additivity=false ensures analytics data only goes to the analytics log -->
    <logger name="ru.korus.tmis.core.logging.slf4j.interceptor.ServicesLoggingInterceptor" level="INFO"
            additivity="false">
        <appender-ref ref="SERVICES"/>
    </logger>

    <appender name="DEBUGLOG" class="ch.qos.logback.core.FileAppender">
        <file>${logs.path}debug/debug.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %msg%n</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>
    <!--
    <logger name="ru.korus.tmis.core.logging.slf4j.interceptor.ServicesLoggingInterceptor" level="INFO" additivity="true">
        <appender-ref ref="DEBUGLOG"/>
    </logger>
    -->
    <logger name="ru.korus.tmis.core.logging._LoggingInterceptor_Serializable" level="INFO" additivity="false">
        <appender-ref ref="DEBUGLOG"/>
    </logger>
    <!--
    <root level="INFO">
        <appender-ref ref="DEBUGLOG" />
    </root>
    -->
</configuration>