<?xml version="1.0" encoding="UTF-8"?>
<web-app>


    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>ru.korus.tmis.ws.webmis.rest.test</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <!-- Фильтр
        <init-param>
          <param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
          <param-value>ru.korus.tmis.ws.webmis.rest.AuthentificationRESTFilterFactory</param-value>
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!--

     <servlet>
         <servlet-name>authentication</servlet-name>
         <servlet-class>
             ru.korus.tmis.ws.impl.AuthenticationWSImpl
         </servlet-class>
         <load-on-startup>1</load-on-startup>
     </servlet>


         <servlet>
         <servlet-name>medipad</servlet-name>
         <servlet-class>
             ru.korus.tmis.ws.impl.MedipadWSImpl
         </servlet-class>
         <load-on-startup>1</load-on-startup>
     </servlet>
      -->

</web-app>